body {
    font-family: Assistant, sans-serif;
    font-weight: lighter;
    font-size:13px;
    color:#666;
    background:#fff;
    margin:0;
    padding:0;
}

#navbar ul {
    padding:0;
    list-style:none;
}

#navbar li {
    display:inline;
    padding:0 10px 0 10px;
}