.education-panel {
    z-index: 10;
    
    width: 75vw;
    border-radius: 20px;
    padding: 5vh;
    margin: 10vh auto;

    background-color: rgba(253, 253, 253, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    border: white;
    border-width: 1px;
    border-style: solid;

    font-size: 20px;
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.education-panel text {
    font-size: 20px;
    text-align: justify;
    width: 70vw;
    margin: 5vh 0;
}

.education-panel header {
    border-radius: 20px;
    padding: 1vh;
    margin-bottom: 3vh;
    background-color: rgb(255, 241, 163);

    font-size: 52px;
    text-align: center;
}

.carousel {
    display: flex;
    flex-direction: row;
    gap: 2vh;

    background-color: rgba(240, 240, 240, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 3vh;
    justify-content: start;
}



.panel {
    width: fit-content;
    z-index: 5;

    background-color: white;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 1.5vh;
}

img {
    position: relative;
    top: 50%;
    width: 50px;
    margin-right: 0.25vw;
    vertical-align: middle;
}

td {
    font-size: 20px;
    white-space: nowrap;
    list-style-type: none;
}

td:first-child {
    align-content: right;
}

td:nth-child(2) {
    padding-right: 5vw;
}

td:last-child {
    text-align: right;
}

ul {
    font-size: 17.5px;
    margin: 1vh 0 0 0;
}

@media only screen and (max-width: 400px) {
    .panel {
        width: 80vw;
        padding: 2vh;
    }

    td {
        font-size: 15px;
    }
}
