#projects {
    font-size: 25px;

    img {
        height: 45px;
    }

    .project {
        width: 75vw;
        margin: auto;
    }

    .project + .project {
        margin-top: 15vh;
    }

    .project-links {
        margin: 0 auto 0 0;

        .hor {
            gap: 2vw;
        }

        img {
            transition: 0.5s ease;
        }

        img:hover {
            scale: 1.2;
            transform: translateY(-17%);
        }
    }

    .project-title {
        .panel {
            padding: 1.25vh;
        }

        img {
            height: 50px;
            margin: auto 2vw auto 1vw;
        }

        h4 {
            text-align: left;
        }
    }

    .project-tags {
        .hor {
            gap: 1vw;
        }
    }
}