#projects {
    max-width: 80vw;
    font-size: 25px;

    h2 {
        margin-bottom: 3vh;
    }

    h4 {
        font-size: 30px;
    }

    .project {
        position: relative;
        margin-bottom: 10vh;
        padding: 2vh;
    }

    .vert {
        position: relative;
        gap: 1vh;
    }

    img {
        height: 40px;
        margin: 0 auto 0 0;
    }

    span {
        padding: 0 0.25vw;
    }


    .links {
        display: flex;
        flex-direction: row;

        #link {
            width: 30px;
        }

        .hor {
            gap: 1.5vw;
            align-items: center;
            margin: auto;
        }

        img {
            margin: 0;
        }

        a {
            transition: all 0.5s ease;
        }
    
        a:hover {
            scale: 1.2;
        }
    }

    .images {
        text-align: center;
        position: relative;
        
        img {
            width: 80%;
        }
    }
}

#stocks, #speech-disfluencies, #surge, #imagined-speech-decoding {
    position: relative;

    .panel {
        padding: 1.25vh;
    }
}