.navbutton {
    height: 3.5vh;
    background-color: transparent;

    font-family: 'CMU Serif Roman';
    font-size: 20px;
    color: black;
    border: none;
    z-index: 12;
    padding: 0 1.25vw;
    border-radius: 12px;
}

.navbutton:hover {
    background-color: rgba(230, 230, 230, 0.5);
    transition: background-color 0.2s ease-in-out;
}