.navbar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 3vh;
    z-index: 20;

    .glass {
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        padding: 0.6vh;
    }
}