body {
    font-size: 20px;
}

.page {
    position: relative;
    min-height: 100vh;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    margin: 0 auto 30vh auto;
    width: 95vw;
    padding: 20vh 0;
}

.container {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: normal;
    font-size: 137px;
    text-align: center;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

h2 {
    font-weight: normal;
    font-size: 85px;
    text-align: center;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

h3 {
    font-weight: normal;
    font-size: 52px;
    text-align: center;
    padding: 0;
    margin: 0;
}

h4 {
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.vert {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.hor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.panel {
    position: relative;
    z-index: 10;
    font-size: 20px;
    padding: 0.5vh;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.glass {
    background-color: rgba(253, 253, 253, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: white;
    border-width: 1px;
    border-style: solid;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none
}

img {
    top: 50%;
    margin-right: 0.12vw;
    vertical-align: middle;
}